@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("./Roboto-Thin.ttf") format("ttf");
}

body {
  background-color: rgb(236, 235, 232);
}
.footnotes > ol > li > p {
  text-align: left;
}

/* add some padding to force scrollbars */
.parallax__layer {
  padding: 130vh 0;
}

/* centre the content in the parallax layers */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 2px;
  perspective: 2px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--back {
  -webkit-transform: translateZ(-2px) scale(2);
  transform: translateZ(-2px) scale(2);
  background-image: url("https://res.cloudinary.com/dhxmg9p4i/image/upload/v1611870110/blog/pozadi7.jpg");
  background-size: cover;
}

.linkbox {
  background-color: rgba(0, 0, 0, 0.5);
}

.linkbox:hover {
  background-color: rgba(37, 171, 255, 0.5);
}

/* p,
ol,
h1,
h2 {
  margin-bottom: 1.5rem;
}

article ol {
  list-style-type: decimal;
  margin-left: 2em;
} */

/* article ol.lower-roman {
  list-style-type: lower-roman;
} */
